.carousel-div {
    height: 93vh;
}

.company-info-div {
    height: 7vh;
}

.carousel {
    height: 100%;
}

.horizontalSlider___281Ls {
    height: 100%;
}

.logo-div {
    text-align: right;
}

.btm-bar-align {
    position: relative;
    /* top: 25%; */
    top: 2vh;
    color: #fff;
    font-weight: lighter;
}

.btm-bar-align-logo {
    position: relative;
    /* top: 15%; */
    top: 1.6vh;
}

.name-align {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    top: 1.8vh;
}

.fullscreen-btn {
    position: absolute;
    z-index: 99999;
    top: 3%;
    left: 2%;
    width: 40px;
    height: 40px;
    background: #0000;
    padding: 0px;
    border: none;
    outline: none;
}

.fullscreen-btn img {
    width: 100%;
    height: 100%;
}