/* new css */

body {
  font-family: 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
  background-color: #1C2128;
  margin: 1em;
  height: 100vh;
  margin-top: 0px;
  overflow: hidden;
}

p {
  color: #C0C0C0;
  font-family: 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
  margin: 0px;
  padding: 2.5vh 0vh;
  /*padding: 1.9vh 0px;*/
  font-size: 2vh;
  position: relative;
  top: -9%;
}

.project-bg1 {
  background-color: #3F4654;
}

.project-bg2 {
  background-color: #2C3540;
}

.border-bg1 {
  border-right: 2px solid #2C3540;
}

.border-bg2 {
  border-right: 2px solid #3F4654;
}

.project-bg3 {
  background-color: #2C3540;
}

.bor-lt1 {
  border-left: 0.4vh solid #44B220;
}

.bor-lt2 {
  border-left: 0.4vh solid #D00A0A;
}

.bor-lt3 {
  border-left: 0.4vh solid #D7A022;
}

.project-bad-odd {
  background-color: rgba(208, 10, 10, 0.1);
}

.project-bad-odd {
  background-color: rgba(208, 10, 10, 0.05);
}

.project-good-odd {
  background-color: rgba(73, 156, 38, 0.1);
}

.project-good-even {
  background-color: rgba(73, 156, 38, 0.05);
}

.project-mid-odd {
  background: rgba(215, 160, 34, 0.1);
}

.project-mid-even {
  background: rgba(215, 160, 34, 0.05);
}

.user-present {
  background-color: #44B220;
}

.user-absent {
  background-color: #ff5f58;
}

.user-wfh {
  background-color: #9b59b6;
}

.tl-ontime {
  color: #44B220;
}

.tl-delayed {
  color: #D00A0A;
}

.tl-mid {
  color: #D7A022;
}

/*.project-bg3
{
border-left:2px solid #44B220;
background-color: #3F4654;
}*/

.disigntext {
  top: 0%;
  padding: 2vh 10px 1vh 10px;
}

.pmimg {
  height: 8.5vh;
  /* padding: 9px; */
  /*  padding: 1.296vh;*/
  border-right: 2px solid black;
  /*position: relative;*/
}

.tmdiv {
  height: 8.5vh;
  justify-content: left;
  border-right: 2px solid black;
}

.rtobdiv {
  /*padding: 2px;	*/
  /*padding: 0.67vh;*/
  /*padding: 0.44vh;*/
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3.8%;
}

/* .rtobdiv img {
  padding-top: 5px;
} */

.tmdiv .fa {
  display: inline-block;
  border-radius: 50%;
  padding: 0.7vh;
  position: absolute;
  bottom: 1%;
  right: 0%;
}

.pmimg_img .fa {
  display: inline-block;
  border-radius: 50%;
  padding: 0.7vh;
  position: absolute;
  bottom: 11%;
  right: 0%;
}

.profile-img-rtb-main {
  position: relative;
}

.profile-img-rtb-main .fa {
  display: inline-block;
  border-radius: 50%;
  padding: 0.7vh;
  position: absolute;
  bottom: 3%;
  right: 0%;
}

.pmimg_img {
  position: relative;
  width: 6vh;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  top: 3%;
}

.tmdiv-img {
  width: 6vh;
  float: left;
  margin-right: 1vh;
  position: relative;
}

/* .tmdiv-img img {
  height: 37px;
} */

.maindiv {
  width: 100%;
  float: left;
  height: 100vh;
  margin-top: 5px;
}

.rtb-design {
  width: 100%;
  float: left;
  height: 28.5vh;
  padding-left: 1vh;
}

/* .projectdiv {
  width: 15%;
  float: left;
} */

.projectlist {
  border-right: 2px solid black;
  text-align: left;
  /* padding-left: 20px; */
  height: 8.5vh;
}

.timelinelist {
  height: 8.5vh;
}

.pmimg {
  height: 8.5vh;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
}

.heading {
  background-color: #2C3540;
  text-align: left;
  border-right: 2px solid black;
  padding-left: 2vh;
  padding-right: 2vh;
}

.heading p {
  font-size: 2.5vh;
}

.readytoboardlist p {
  font-size: 2.5vh;
}

.timeline {
  width: 10%;
  float: left;
}

.timelinelist {
  /*background-color:#2C3540;*/
  border-right: 2px solid black;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
}

.pmcol {
  width: 5%;
  float: left;
}

.pmlist {
  /* background-color: #2C3540; */
  text-align: left;
  padding-left: 2vh;
}

.teammembers {
  width: 25%;
  float: left;
}

.teammemberslist {
  background-color: #2C3540;
  text-align: left;
  padding-left: 2vh;
}

.comments {
  width: 27%;
  float: left;
}

.commentslist {
  background-color: #2C3540;
  text-align: left;
  padding-left: 2vh;
}

.commentlist {
  height: 8.5vh;
  text-align: right;
  border-right: 2px solid black;
  padding-left: 2vh;
}

/* .readytoboard {
  width: 18%;
  float: left;
} */

.readytoboardlist {
  background-color: #2C3540;
  text-align: left;
  padding-left: 2vh;
}

.sub-div {
  width: 100%;
  float: left;
  height: 100vh;
}

.marquee-div {
  /* width: 49.5vh; */
  white-space: nowrap;
}

.m-div {
  width: 600px;
  margin-left: 100px;
  display: flex;
  position: relative;
  top: -7px;
}

.no-marquee {
  padding-top: 1.5vh;
  /* padding-left: 1.5vh; */
  padding-left: 2vh;
  padding-right: 2vh;
}

.marquee-div>div>div span:nth-child(2) {
  display: none;
}

.profile-img {
  position: relative;
  top: 16%;
  width: 6vh;
  height: 6vh;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
}

.profile-img-tm {
  width: 6vh;
  height: 6vh;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
}

#loader {
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #4cbdd1;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

.commentlist p {
  text-align: left;
  /* margin-left: 3vh; */
}

.profile-img-rtb {
  width: 6vh;
  height: 6vh;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: 10px;
  margin-top: 5px;
}

.profile-img-vd {
  width: 6vh;
  height: 6vh;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: 10px;
  margin-top: 10px;
}

/*second screen style*/

.projtypediv {
  width: 20%;
  float: left;
}

.platformdiv {
  width: 10%;
  float: left;
}

.platformicons {
  text-align: center;
  position: relative;
  border-right: 2px solid black;
  height: 8.5vh;
}

.platformicons img {
  position: relative;
  top: 18px;
}

.virtuvalspace {
  width: 25%;
  float: left;
}

.vsmaindiv {
  width: 100%;
  height: 28.5vh;
  float: left;
}

.vsdiv1 {
  width: 30%;
  float: left;
  text-align: center;
  /*padding: 4px 0px 0px 0px;*/
}

.vsdiv2 {
  width: 70%;
  float: left;
  text-align: center;
}

.vsdiv1 img {
  padding-top: 14px;
}

.borrt {
  border-right: 2px solid black;
  height: 100%;
}

.borrt-icon {
  height: 100%;
}

.dndmode {
  width: 20%;
  float: left;
}

.dndmodediv {
  padding-bottom: 6px;
  height: 28.5vh;
}

.vsdiv1 h6 {
  margin: 0px;
  color: #c0c0c0;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 9px;
}

.rtb-container ul {
  list-style: none;
  position: relative;
}

.rtb-container {
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.readytoboard .ant-carousel .slick-slide {
  text-align: center;
  height: 28vh;
  background: #364d79;
  overflow: hidden;
}

.design-rtb-top {
  border-top: 1px solid #000;
}

.rtb-vertical-scroll {
  height: 85vh;
  overflow: hidden;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.pb-vertical-scroll {
  height: 85vh;
  overflow: hidden;
}

.sb-vertical-scroll {
  height: 85vh;
  overflow: hidden;
}

.project-inner-div {
  position: relative;
  top: 8%;
  height: 85%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1px;
  margin-left: 2px;
  padding-left: 2vh;
  padding-right: 2vh;
}

.p-padding3vh {
  padding: 3.5vh 0;
  hyphens: auto;
}

.pltdiv {
  height: 8.5vh;
  border-right: 2px solid black;
  padding: 2vh;
  text-align: center;
}

.pltdiv img {
  margin-right: 3vh;
}

.plt_hidden {
  /* visibility: hidden; */
  visibility: unset;
    filter: opacity(0.2);

}

.plt_img_rm_mar {
  margin: 0px !important;
}

.vs-scroll-sec {
  height: 85vh;
  overflow: hidden;
}

.dnd-scroll-sec {
  height: 85vh;
  overflow: hidden;
  border-right: 2px solid #000;
}

.vd-height {
  height: 28.5vh;
  position: relative;
}

.vd-height h5 {
  color: #72767d;
  font-weight: bold;
}

.vd-title-head {
  position: absolute;
  top: 33%;
  left: 24%;
  text-align: center;
}

.col-md-custom-3 {
  width: 23% !important;
}

.col-md-custom-1 {
  width: 10.333333% !important;
}

.marquee {
  width: 450px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.text-nv-center{
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.project-nv-color{
  background-color: #2c3540;
}

.sales-nv-color{
  background-color: #3f4654;
}


.project-nv-color .btm-bar-align-logo{
  /* filter: brightness(0.5); */
}